.Title{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    
    margin-bottom: 0;
}

.slogan{
    margin-top: 10px;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}

.link{
    text-decoration: underline;
    margin-left: 2px;
}
.link:hover{
    cursor: pointer;
}